APP_HOST=127.0.0.1
APP_PORT=8000
STORAGE_DIR=storage
DEFACE_BIN=deface
DEFACE_REPLACEWITH=mosaic
DEFACE_MOSAIC_SIZE=20
DEFACE_MASK_SCALE=1
SEEDANCE_MODE=mock
SEEDANCE_API_URL=
SEEDANCE_API_KEY=
SEEDANCE_POLL_SECONDS=5
MAX_UPLOAD_MB=512
