<link rel="stylesheet" href="/static/workspace.css?v=20260930-mobile-landscape-1">
<script src="/static/workspace.js?v=20260930-mobile-landscape-1" defer></script>
<link rel="stylesheet" href="/static/mira/mira-workspace-skin.css?v=20260930-production-1">
<link rel="stylesheet" href="/static/mira/mira-system.css?v=20261005-production-1">
<link rel="stylesheet" href="/static/mira/mira-production.css?v=20260930-production-1">
<script src="/static/mira/mira-icons.js?v=20260930-production-1" defer></script>
